*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    background-color: #828284;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 22px 0;
}

.cabecalho-imagem{
    width: 15%;
}

.cabecalho-lista-item{
    display: inline-block; 
    margin: 0 15px;
    font-size: 20px;
    font-family: 'Caprasimo', cursive;

}

.escola-imagem{
    width: 20%;
}

.escola{
    background-image: linear-gradient(#828284,#B2B1B1);
    color: aliceblue;
    display: flex;
    justify-content:center;
    align-items: flex;
    padding: 20px 0;
}

.escola-div-conteudo{
    width: 30%;
}

.escola-titulo{
    padding: 28px 0;
    font-family: 'Caprasimo', cursive;
}

.emilio-de-menezes{
    background-image: linear-gradient(#B2B1B1,#828284);
    color:aliceblue;
    display: flex;
    justify-content: center;
    align-items: flex;
    padding: 20px 0;
}

.emiliotitulo{
    padding: 28px 0;
    font-family: 'Caprasimo', cursive;
}

.emilio-de-menezes-div-conteudo{
    width: 30%;
}

.imagem-emilio{
    width: 10%;
}